.view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.view>* {
    overflow: hidden;
}


.view>main {
    display: flex;
    width: 100%;
    height: calc(100% - var(--footer-height));
}







#nav {
    font-size: var(--nav-size);
    color: var(--nav-color);
    display: flex;
    flex-direction: column;
    width: var(--nav-width);
    background-color: var(--nav-bg);
    -webkit-app-region: no-drag;
}

#nav {
    padding: 45px 20px 0 20px;
    overflow-y: auto;
    position: relative;
}

#nav>ul:first-of-type {
    margin-top: 25px;
}

#nav>ul:last-of-type {
    margin-bottom: 25px;
}

#nav .back-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-app-region: drag;
}

#nav .back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 35px;
    -webkit-app-region: no-drag;
}

#nav .back:hover {
    background-color: var(--nav-back-hover);
}


#nav .back i.material-icons {
    font-size: var(--nav-back-size);
}

#nav ul > li:not(:last-child) {
    margin-bottom: 15px;    
}

#nav ul li {
    display: flex;
    justify-content: space-between;
}

#nav ul li:hover {
    color: var(--nav-list-hover);
}

#nav ul li.fade:hover {
    color: var(--nav-list-fade-hover);
}

#nav ul li > i.material-icons {
    font-size: var(--nav-list-icon);
}

#nav ul li.active {
    color: var(--nav-list-fade-color)
}








#footer {
    display: flex;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-bg);
    color: var(--footer-color);
}

#footer>div {
    width: 100%;
    height: 100%;
}

#footer>.metadata {
    display: flex;
    flex: 0 0 var(--nav-width);
    overflow: hidden;
}

#footer>.metadata .cover {
    flex: 0 0 var(--footer-height);
    height: 100%;
    background: var(--footer-cover-bg);
}

#footer>.metadata .cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#footer>.metadata .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
}

#footer>.metadata .artist {
    font-weight: 700;
    white-space: nowrap;
}

#footer>.metadata .artist > span {
    padding-right: 5px;
}

#footer>.metadata .artist > span:hover {
    text-decoration: underline;
}

#footer>.metadata .artist > span:not(:last-child):after {
    content: ','
}

#footer>.metadata .title {
    overflow: hidden;
}

#footer>.metadata .fav {
    display: flex;
    align-items: center;
    width: auto;
    padding-left: 10px;
}

#footer>.metadata .fav i.material-icons {
    font-size: var(--footer-fav-icon);
}

#footer>.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#footer>.timeline timeline-component {
    max-width: 900px;
}

#footer>.timeline>.controllers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

#footer>.timeline>.controllers i {
    padding: 0 5px;
}

#footer>.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 150px;
    padding: 0 20px;
}

#footer>.option>.controllers {
    display: flex;
    justify-content: flex-end;
}

#footer .text-anim {
    display: inline-block;
    position: relative;
    animation: text 10s 1s infinite linear;
}

#footer .text-anim:after {
    content: attr(title);
    position: absolute;
    transform: translateX(20px)
}

.fullscreen #footer {
    background-color: var(--fullscreen-footer-bg);
}

.fullscreen #footer .metadata {
    visibility: hidden;
}

.fullscreen[data-play="true"][data-moving="false"] #footer > div {
    opacity: 0;
    transition: opacity .4s 2s ease;
}

.fullscreen[data-play="true"][data-moving="false"] * {
    cursor: none;
}

.fullscreen[data-play="false"][data-moving] #footer > div,
.fullscreen[data-play][data-moving] #footer:hover > div {
    opacity: 1;
    transition: opacity .4s 0s ease;
}

#close-fullscreen {
    color: var(--fullscreen-close-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    top: -50px;
    opacity: 0;
    background-color: var(--fullscreen-close-button-bg);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: opacity .4s ease, top .2s ease;
    cursor: default;
}
#close-fullscreen > i {
    cursor: default;
}

.fullscreen[data-moving="true"] #close-fullscreen,
.fullscreen[data-moving] #close-fullscreen:hover {
    opacity: 1;
    top: 15px;
}

#close-fullscreen:hover {
    opacity: .75;
}

body:not(.fullscreen) #close-fullscreen {
    display: none;
}


@keyframes text {
    from {
        transform: translateX(0);
    }

    75%, to {
        transform: translateX(calc(-100% - 20px));
    }
}





#content {
    width: calc(100% - var(--nav-width));
    height: 100%;
    padding: 15px;
    background-color: var(--content-bg);
    overflow: hidden;
    overflow-y: auto;
}

[data-select="true"] #content {
    overflow: hidden;
    padding-right: calc(var(--scrollbar-size) + 15px);
}

[data-platform="win32"] #content {
    margin-top: var(--menu-height);
    height: calc(100% - var(--menu-height));
}

#content .folder {
    color: var(--content-folder-button-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    margin-top: 15px;
    border-top: var(--content-folder-button-border);
    border-bottom: var(--content-folder-button-border);
}

#content .folder:hover {
    color: var(--content-folder-button-hover);
}


#content input {
    color: var(--content-input-color);
    background: none;
}

#content input::placeholder {
    color: var(--content-input-placeholder)
}



#content .add-folder {
    color: var(--content-setting-folder-button-color);
    display: flex;
    align-items: center;
}
#content .add-folder:hover {
    color: var(--content-setting-folder-button-hover);
}

#content .add-folder > i {
    padding-right: 5px;
}

#content .option {
    display: block;
    margin-top: 20px;
}



#content ul {
    margin-top: 20px;
}

#content ul > li {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--content-setting-list-bg);
}

#content ul > li i.material-icons {
    font-size: var(--content-setting-list-icon);
}


#content .preview {
    display: flex;
}

#content .preview .cover {
    flex: 0 0 200px;
    height: 200px;
    overflow: hidden;
    background: var(--content-preview-cover-bg);
}

#content .preview .cover.rounded {
    border-radius: 100%;
}

#content .preview .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content .preview .info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

#content .preview .info h1 {
    font-weight: 700
}

#content .preview .info article {
    margin-top: 15px;
}

#content .preview .artist:hover {
    text-decoration: underline
}