:root {
    --font: 'Roboto', sans-serif;
    --size: 14px;
    --heading: 42px;
    --color: #fff;
    --h1: 2.5rem;
    --h2: 1.5rem;
    --h3: 1rem;


    --light-color: #fff;
    --primary-color: #27292a;
    --secondary-color: #3c3e3f;
    --tertiary-color: #191c1e;
    --outline-color: #2196F3;
    --fade-color: #4f4f4f;
    --primary-gradient: linear-gradient(transparent, rgba(17, 17, 17, .9), #000);
    --secondary-gradient: linear-gradient(#000, #111, var(--tertiary-color));


    --rule: 1px solid var(--fade-color);
    --input-color: var(--primary-color);
    --code-bg: #131617;
    --code-color: var(--color);
    --anchor-color:  var(--outline-color);
    --placeholder: #767676;
    --button-bg: var(--primary-color);
    --button-hover: var(--secondary-color);
    --button-size: .8rem;


    --icon-size: 1.5rem;
    --icon-large: 2.5rem;
    --icon-medium: 1.8rem;
    --icon-small: 1rem;


    --nav-width: 250px;
    --nav-bg: var(--primary-color);
    --nav-color: var(--color);
    --nav-back-size: 1.1rem;
    --nav-back-hover: var(--secondary-color);
    --nav-list-fade-color:#696969;
    --nav-list-hover: var(--nav-list-fade-color);
    --nav-list-fade-hover: #767676;
    --nav-size: .9rem;
    --nav--list-icon: inherit;


    --footer-height: 90px;
    --footer-bg: var(--secondary-color);
    --footer-fav-icon: var(--icon-medium);
    --footer-cover-bg: var(--primary-gradient);
    --footer-color: var(--color);


    --content-bg: var(--tertiary-color);
    --content-folder-button-border: 1px solid var(--primary-color);
    --content-folder-button-color:  var(--fade-color);
    --content-folder-button-hover: #696969;
    --content-input-color: var(--color);
    --content-input-placeholder:  var(--fade-color);
    --content-setting-folder-button-color:  var(--fade-color);
    --content-setting-folder-button-hover: var(--color);
    --content-setting-list-icon: inherit;
    --content-preview-cover-bg: var(--primary-gradient);
    --content-setting-list-bg: var(--primary-color);


    --timeline-duration-size: .8rem;
    --timeline-duration-color: #a4a4a4;
    --timeline-progress-bg: var(--fade-color);
    --timeline-bar-bg: #fff;
    --timeline-thumb-bg: #fff;
    --timeline-icon-size: 1.3rem;

    --fullscreen-bg: var(--secondary-gradient);
    --fullscreen-footer-bg: var(--tertiary-color);
    --fullscreen-icon-color:  var(--fade-color);
    --fullscreen-cover-bg: var(--primary-gradient);
    --fullscreen-icon: 3rem;
    --fullscreen-close-button-bg: #111;
    --fullscreen-close-button-color: var(--color);
    --fullscreen-color: var(--color);


    --radio-bg: var(--secondary-color);
    --radio-active-bg: var(--primary-color);


    --modal-bg: #000000c9;
    --modal-window-bg: var(--tertiary-color);
    --modal-icon: var(--icon-small);
    --modal-input-color: var(--color);
    --modal-input-border:  var(--fade-color);


    --playlist-header-icon: inherit;
    --playlist-header-color: var(--fade-color);
    --playlist-duration-color: var(--fade-color);
    --playlist-bottom-border: 1px solid var(--primary-color);
    --playlist-focus: 1px solid var(--outline-color);
    --playlist-noresult-color: var(--fade-color);
    --playlist-row-active-bg: var(--primary-color);


    --select-border: var(--primary-color);
    --select-bg: var(--secondary-color);
    --select-item-hover: var(--primary-color);
    --select-icon: inherit;
    --select-disabled-color: var(--fade-color);
    --select-box-shadow: 0px 0px 4px var(--tertiary-color);


    --collection-item-cover: var(--primary-gradient);
    --collection-play-icon: 4rem;
    --collection-color: #fff;


    --notification-bg: var(--primary-color);
    --notification-outline: 1px solid var(--outline-color);

    --table-head-color: var(--fade-color);
    --table-row-border: 1px solid var(--primary-color);

    --menu-icon-fill: var(--color);
    --menu-color: var(--fade-color);
    --menu-button-hover: var(--secondary-color);
    --menu-button-danger-hover:#e81123e6;
    --menu-height: 40px;

    --scrollbar-size: 10px;
    --scrollbar-track: var(--primary-color);
    --scrollbar-thumb: var(--secondary-color);

    --selection-bg: var(--fade-color);
    --selection-color: #fff;
}

:root[data-theme="light"] {
    --color: #191c1e;
    --primary-color: #e8e8e8;
    --secondary-color: #3c3e3f;
    --tertiary-color: #ffffff;
    --fade-color: #8c8c8c;

    --input-color: var(--color);
    --code-bg: var(--primary-color);
    --button-hover:#cdcdcd;
    --rule: 1px solid #cdcdcd;

    --nav-back-hover: #cdcdcd;
    --footer-color: #fff;

    --timeline-progress-bg: #4f4f4f;

    --select-bg: var(--primary-color);
    --select-item-hover: #cdcdcd;
    --select-box-shadow: 0px 0px 4px var(--fade-color);

    --radio-bg: #cdcdcd;

    --fullscreen-bg: linear-gradient(#000, #111, #191c1e);
    --fullscreen-footer-bg: #191c1e;
    --fullscreen-color: #fff;
    --fullscreen-close-button-color: #fff;

    --menu-button-hover: #cdcdcd;

    --scrollbar-thumb: #cdcdcd;
}